@import "../../../../../styles.css";

.form {
  height: calc(100vh - 9rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  border: 1px solid var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  border-radius: 0.625rem;
  overflow: hidden;
  align-self: flex-start;
  margin-top: 3rem;
}

.car-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.form-button,
mat-form-field {
  width: 66%;
}

.form-button {
  background-color: var(--color-orange) !important;
  color: var(--cor-branca) !important;
  margin-top: 0.5rem;
}

mat-error {
  padding: 0 !important;
  text-align: start !important;
}

.text-side {
  color: var(--cor-branca);
  background-color: var(--color-blue);
  padding: 2rem;
  text-align: center;
  margin: 0;
}

.title {
  font-family: var(--font-belasonima);
  font-family: 700;
}

.text {
  font-family: var(--font-belasonima);
}

.img {
  width: 30rem;
  color: var(--cor-branca);
  margin: 0 auto;
}
