@import "../../../../../styles.css";

.title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-belasonima);
}

.list-parts {
  display: flex;
  gap: 1rem;
  position: relative;
}

.left-container {
  width: 20rem;
  height: calc(100vh - 12rem);
  border: 1px solid var(--color-orange);
  padding: 1rem;
}

.left-container-content {
  width: 100%;
}


.filter-title {
  text-align: center;
  font-size: 1.125rem;
  margin: 0.5rem 0;
  font-weight: 700;
  font-family: var(--font-belasonima);
}

.fixed {
  width: 20rem;
  position: fixed;
  top: 6rem;
  height: calc(100vh - 7rem);
}

.results {
  text-align: center;
  font-weight: 700;
}

.button-clear {
  display: flex;
  width: 80%;
  margin: 0.5rem auto;
  background-color: var(--color-orange) !important;
  color: var(--cor-branca) !important;
  font-family: var(--font-belasonima);
}

.right-container {
  width: calc(100% - 21rem);
}

.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.no-content-text {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.no-content-image {
  width: 50%;
}
