<div class="card-announcement">
    <div class="image">
      <img class="img" src="../../../assets/images/carro.jpeg" alt="">
    </div>
    <div class="text">
      <p class="titulo">Fiat Uno 1.0v</p>
      <div class="icons">
        <div>
          <fa-icon [icon]="faCalendar"></fa-icon><span class="text-card">2011</span>
        </div>
        <div>
          <fa-icon [icon]="faClock"></fa-icon><span class="text-card">100000km</span>
        </div>
        <div>
          <fa-icon [icon]="faGasPump"></fa-icon><span class="text-card" >Flex</span>
        </div>
        <div>
          <fa-icon [icon]="faWrench"></fa-icon><span class="text-card">Manual</span>
        </div>
      </div>
      <a class="more-info">Mais Informações</a>
    </div>
</div>
