<mat-toolbar>
  <div class="container">

    <ng-container *ngIf="
        authService.isUserLoggedIn();
        then authenticatedUser;
        else anonymousUser
      "></ng-container>

    <ng-template #authenticatedUser>
      <div class="navbar">
        <div>
          <a class="logo" href="/home">De Castro Peças Usadas</a>
        </div>

        <div>
          <button mat-button (click)="redirect()">Dashboard</button>
          <button mat-button (click)="authService.logout()">Sair</button>
        </div>
      </div>
    </ng-template>

    <ng-template #anonymousUser>
      <div class="navbar">

        <div>
          <a class="logo" href="/home">De Castro Peças Usadas</a>
        </div>

        <div>
          <button mat-button>Anúncios</button>
          <button mat-button>Dúvidas</button>
          <button mat-button>Localização</button>
          <button mat-button routerLink="../login">Entrar</button>
        </div>
      </div>

    </ng-template>
  </div>
</mat-toolbar>
