<mat-toolbar class="teste">
  <div class="container">

    <ng-container *ngIf="
        authService.isUserLoggedIn();
        then authenticatedUser;
        else anonymousUser
      "></ng-container>

    <ng-template #authenticatedUser>
      <div class="sera">

        <div>
          <a href="">Logo</a>
        </div>

        <div>
          <button class="a" mat-button>Sobre</button>
          <button class="a" mat-button>Dashboard</button>
          <button class="a" mat-button>Anuncios</button>
          <button class="a" mat-button (click)="authService.logout()">Sair</button>
        </div>

      </div>

    </ng-template>

    <ng-template #anonymousUser>

      <ng-template #mainMenu>
        <button mat-button routerLink="/publicacoes">Publicações</button>
        <button mat-button routerLink="/login">Entrar</button>
        <button mat-stroked-button routerLink="/criar-conta" color="primary">Criar conta</button>
      </ng-template>

      <ng-template #mobileMenu>
        <button mat-stroked-button routerLink="/criar-conta" color="primary">Criar conta</button>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/login">Entrar</button>
          <button mat-menu-item routerLink="/publicacoes">Publicações</button>
        </mat-menu>
      </ng-template>
    </ng-template>
  </div>
</mat-toolbar>
