@import "../../../styles.css";

mat-toolbar {
  background-color: var(--color-dark-blue);
  color: var(--cor-branca);
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(25px);
}

mat-toolbar button:hover {
  background-color: var(--color-blue);
}

.logo {
  text-decoration: none;
  color: var(--cor-branca);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-right: 0.5rem;
  border-radius: 0.25rem;
}
