<div class="card-announcement">
  <div class="image">
    <img class="car-image" src="../../../assets/images/carro1.jpeg" alt="Imagem de um carro">
  </div>
  <div class="card-content">
    <div class="card-header">
      <div class="car-name">Fiat Palio 2010 1.0</div>
      <div class="publication-date">Hoje, 19:00</div>
    </div>
    <div class="card-informations">
      <p class="item"><fa-icon [icon]="faClock" class="icon"></fa-icon>10.000km</p>
      <p class="item"><fa-icon [icon]="faPalette" class="icon"></fa-icon>Vermelho</p>
      <p class="item"><fa-icon [icon]="faGasPump" class="icon"></fa-icon> Flex</p>
      <p class="item"><fa-icon [icon]="faTemperatureArrowDown" class="icon"></fa-icon>Sim</p>
      <p class="item"><fa-icon [icon]="faDoorOpen" class="icon"></fa-icon>2 Portas</p>
      <p class="item"><fa-icon [icon]="faGear" class="icon"></fa-icon>Mecânica</p>
      <p class="item"><fa-icon [icon]="faWrench" class="icon"></fa-icon>Manual</p>
      <p class="item"><fa-icon [icon]="faBolt" class="icon"></fa-icon>Sim</p>
    </div>
  </div>
</div>
