<div class="form">
  <div class="form-content">

    <form class="car-form">
      <mat-form-field>
        <mat-label>Nome do carro</mat-label>
        <input matInput class="form-input">
      </mat-form-field>
      <button mat-raised-button color="primary" class="form-button" type="submit">Cadastrar</button>
    </form>

    <div class="text-side">
      <h1 class="title">Cadastro de Marcas de Carros</h1>
      <p class="description">Cadastre uma nova marca de carro ao sistema</p>
      <img class="img" src="../../../../../assets/images/car_brand.svg" alt="imagem de um carro">
    </div>
  </div>
</div>
