<div class="container">

  <ng-container *ngIf="
        isEdit
        then edit;
        else create
      "></ng-container>

  <ng-template #create>

    <h1 class="title">Cadastro de funcionários</h1>

    <form class="user-form" [formGroup]="userForm">

      <div class="row1">
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Ex: Fabiano" formControlName="name" required>
          <mat-error>O nome deve ter pelo menos 2 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput type="email" placeholder="Ex: fabiano@gmail.com" formControlName="email" required>
          <mat-error>E-mail inválido, tente novamente</mat-error>
        </mat-form-field>
      </div>

      <div class="row2">
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error>A senha deve conter pelo menos 8 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirme a senha</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
          <mat-error>A senha deve conter pelo menos 8 caracteres</mat-error>
        </mat-form-field>
      </div>

      <div class="row3">
        <mat-form-field>
          <mat-label>CEP</mat-label>
          <input matInput placeholder="Ex: 01000-000" formControlName="cep" required>
          <mat-error>CEP inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Endereço</mat-label>
          <input matInput placeholder="Ex: Rua Faria Lima" formControlName="address" required>
          <mat-error>Endereço inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Número</mat-label>
          <input matInput placeholder="Ex: 100" formControlName="number" required>
          <mat-error>Número inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Complemento</mat-label>
          <input matInput placeholder="Ex: Gol" formControlName="complement" required>
          <mat-error>Complemento inválido</mat-error>
        </mat-form-field>
      </div>

      <div class="row4">
        <mat-form-field>
          <mat-label>Bairro</mat-label>
          <input matInput placeholder="Ex: Liberdade" formControlName="neighborhood" required>
          <mat-error>O bairro deve ter pelo menos 2 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Ex: São Paulo" formControlName="city" required>
          <mat-error>A cidade deve ter pelo menos 2 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Estado</mat-label>
          <input matInput placeholder="Ex: SP" minlength="2" maxlength="2" formControlName="uf" required>
          <mat-error>Digite no formato correto</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="form-button">Criar</button>
    </form>
  </ng-template>

  <ng-template #edit>

  </ng-template>
</div>
