<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #103cbe;">
      <div class="featured-image mb-3">
        <img src="../../../assets/images/1.png" class="img-fluid" style="width: 250px;">
      </div>
      <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Certifique-se
      </p>
      <small class="text-white text-wrap text-center"
        style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Entre com usuário e senha para
        prosseguir</small>
    </div>
    <div class="col-md-6 right-box">
      <div class="row align-items-center">
        <div class="header-text mb-4">
          <h2 class="text-center fs-3 fontMontsserat">Faça o seu login</h2>
        </div>

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="E-mail" formControlName="email" required>
            <label for="floatingInput" class="mx-2">E-mail</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha"
              formControlName="password" required>
            <label for="floatingPassword" class="mx-2">Senha</label>
          </div>

          <div class="input-group mb-5 d-flex justify-content-between">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="formCheck">
              <label for="formCheck" class="form-check-label text-secondary"><small>Manter conectado</small></label>
            </div>
            <div class="forgot">
              <small><a href="#">Esqueceu a senha?</a></small>
            </div>
          </div>
          <div class="input-group mb-3">
            <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Entrar</button>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-lg border btn-light w-100 fs-6" routerLink=""><img
                src="../../../assets/images/google.png" style="width:20px" class="me-2"><small>Entre com o
                Google</small></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
