<div class="container">

  <ng-container *ngIf="
        isEdit
        then edit;
        else create
      "></ng-container>

  <ng-template #create>
    <h1 class="title">Cadastro de Peças</h1>

    <form class="user-form" [formGroup]="partForm">

      <div class="row1">
        <mat-form-field>
          <mat-label>Peça</mat-label>
          <input matInput placeholder="Ex: Radiador" formControlName="name" required>
          <mat-error>Nome inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Carro</mat-label>
          <mat-select formControlName="car_id">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let car of cars" [value]="car.id">{{ car.name }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select formControlName="car_brand_id">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let brand of carBrands" [value]="brand.id">{{ brand.name }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Modelo</mat-label>
          <mat-select formControlName="car_model_id">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let model of carModels" [value]="model.id">{{ model.model }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

      </div>

      <div class="row2">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="">Selecione</mat-option>
            <mat-option value="INTERIOR">Interior</mat-option>
            <mat-option value="LATARIA">Lataria</mat-option>
            <mat-option value="MECANICA">Mecânica</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantidade em Estoque</mat-label>
          <input matInput type="number" placeholder="Ex: 10" formControlName="stock_quantity" required>
          <mat-error>Quantidade inválida</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ano</mat-label>
          <mat-select formControlName="year">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Preço Médio</mat-label>
          <input matInput type="number" placeholder="Ex: 300,00" formControlName="average_price" required />
          <mat-error>Valor inválido</mat-error>
        </mat-form-field>
      </div>

      <div class="row3">
        <mat-form-field>
          <textarea matInput rows="5" formControlName="observation"
            placeholder="Ex: Serve também para os anos 2011 e 2012"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button class="form-button" [disabled]="partForm.invalid"
        (click)="onSubmit()">Cadastrar</button>
    </form>
  </ng-template>

  <ng-template #edit>
    <h1 class="title">Edição de Peças</h1>

    <form class="user-form" [formGroup]="partForm">

      <div class="row1">
        <mat-form-field>
          <mat-label>Peça</mat-label>
          <input matInput placeholder="Ex: Radiador" formControlName="name" required>
          <mat-error>Nome inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Carro</mat-label>
          <mat-select formControlName="car_id">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let car of cars" [value]="car.id">{{ car.name }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select formControlName="car_brand_id">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let brand of carBrands" [value]="brand.id">{{ brand.name }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Modelo</mat-label>
          <mat-select formControlName="car_model_id">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let model of carModels" [value]="model.id">{{ model.model }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

      </div>

      <div class="row2">
        <mat-form-field>
          <mat-label>Ano</mat-label>
          <mat-select formControlName="year">
            <mat-option value="">Selecione</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option value="">Selecione</mat-option>
            <mat-option value="INTERIOR">Interior</mat-option>
            <mat-option value="LATARIA">Lataria</mat-option>
            <mat-option value="MECANICA">Mecânica</mat-option>
          </mat-select>
          <mat-error>Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Quantidade em Estoque</mat-label>
          <input matInput type="number" placeholder="Ex: 10" formControlName="stock_quantity" required>
          <mat-error>Quantidade inválida</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Preço Médio</mat-label>
          <input matInput type="number" placeholder="Ex: 300,00" formControlName="average_price" required />
          <mat-error>Valor inválido</mat-error>
        </mat-form-field>
      </div>

      <div class="row3">
        <mat-form-field>
          <textarea matInput rows="5" formControlName="observation"
            placeholder="Ex: Serve também para os anos 2011 e 2012"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button class="form-button" [disabled]="partForm.invalid" (click)="onSubmit()">Editar</button>
    </form>
  </ng-template>
</div>
