<footer class="text-center text-lg-start text-white" style="background-color: #205375">
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row mb-3">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            De Castro Peças Usadas
          </h6>
          <p>
            Encontre as melhores peças usadas para seu veículo com qualidade garantida e preços competitivos.
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Produtos</h6>
          <p>
            <a class="text-white">Motores</a>
          </p>
          <p>
            <a class="text-white">Câmbios</a>
          </p>
          <p>
            <a class="text-white">Acessórios</a>
          </p>
          <p>
            <a class="text-white">Som Automotivo</a>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
          <p><i class="fas fa-home mr-3"></i> QNO 08, Conj. B lote 34</p>
          <p><i class="fas fa-envelope mr-3"></i> decastropecas@gmail.com</p>
          <p><i class="fas fa-mobile mr-3"></i> (61) 99278-9360</p>
          <p><i class="fas fa-phone mr-3"></i> (61) 3522-7672</p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Nos Acompanhe</h6>

          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#" role="button"><i
              class="fab fa-facebook-f"></i></a>

          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#" role="button"><i
              class="fab fa-twitter"></i></a>

          <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#" role="button"><i
              class="fab fa-google"></i></a>

          <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#" role="button"><i
              class="fab fa-instagram"></i></a>

          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#" role="button"><i
              class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#" role="button"><i
              class="fab fa-github"></i></a>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: #112B3C">
    © De Castro Peças Usadas. Todos os direitos reservados. <br>
    Desenvolvido por <a class="text-white" href="https://github.com/fabianojunior139">Fabiano Júnior</a>
  </div>
</footer>
