<div class="mat-elevation-z8 container">
  <h1 class="table-title">Lista de Carros Cadastrados</h1>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome do Carro </th>
      <td mat-cell class="car-name" *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>

      <td mat-cell *matCellDef="let element">
        <button class="icon" mat-mini-fab aria-label="Botão para editar um carro">
          <fa-icon [icon]="faPenToSquare" (click)="onEdit(element)"></fa-icon>
        </button>
        <button class="icon" mat-mini-fab aria-label="Botão para excluir">
          <fa-icon [icon]="faTrash" (click)="onDelete(element.id)"></fa-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
</div>
